.characters__container {
    width: 100%;
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
    row-gap: 25px;
    flex-wrap: wrap;
}
.character-card {
    width: 188.57px;
    height: 245.97px;
}
.character-card-border::after {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 12px 12px 0 0;
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: auto;
    z-index: 40;
    background-color: rgb(0 0 0);
}
.character-card-border {
    width: 188.57px;
    height: 245.97px;
    position: absolute;
    text-decoration: none;
    & :hover {
        text-decoration: none;
    }
}

.character-card__container {
    width: 100%;
    height: 245.97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.character-card_img {
    width: 188.57px;
    height: 175px;
    overflow: hidden;
    border-bottom: 4px solid var(--primary-color);
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    > img {
        width: 188.57px;
    }
}
.character-card__info {
    width: calc(100% - 10px);
    height: 57px;
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
    color: inherit;
    background-color: var(--secondary-color);
}
.character-card__name {
    width: 85%;
    padding: 5px;
    color: var(--text-primary-color);
}
.character-car__fav {
    width: 15%;
    padding: 5px;
}
