.font-family {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 12px;
    color: var(--text-primary-color);
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.roboto-condensed--500 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-condensed--700 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-condensed--400 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text--primary-color {
    color: var(--text-primary-color);
}

.text--secondary-color {
    color: var(--text-secondary-color);
}

.text--tertiary-color {
    color: var(--text-tertiary-color);
}

.text--size {
    font-size: 20px;
}