.icon-fav {
    width: 24px;
    height: 21.68px;
    background-image: url('../asset/img/fav_selected.png');
    background-size: cover;
}
.icon-fav--empty {
    background-image: url('../asset/img/fav_unselected.png');
}
.icon__search {
    width: 21px;
    height: 21px;
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg");*/
    background-image: url('../asset/img/search_icon.png');
    background-size: cover;
    margin: 3px;
}
