.search {
    --padding: 10px;
    --padding-doble: 20px;
    height: 77px;
    width: 100%;

    & .search__container {
        width: calc(100% - var(--padding-doble));
        height: calc(77px - var(--padding-doble));
        display: flex;
        padding: var(--padding);
        flex-direction: column;
        justify-content: center;

        & .search__form {
            width: 100%;
            height: 29px;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid var(--secondary-color);

            & .search__character-label {
                display: block;
                width: calc(100% - 20px);

                & .search__input {
                    width: calc(100% - 9px);
                    color: var(--text-tertiary-color);
                    border: none;
                }

                & .search__input--active {
                    width: calc(100% - 9px);
                    color: var(--text-secondary-color);
                    border: none;
                }
            }
        }

        & .search__result {
            color: var(--text-secondary-color);
            width: 100%;
            height: 10px;
            font-size: 0.6rem;
        }
    }
}
